.terraform/**
terraform-provider-graphql
test/test_basic/terraform.tfstate
test/test_basic/terraform.tfstate.backup
test/test_basic/terraform.d
test/test_basic/.terraform
dist/
*.log
.secrets
*.tfstate